
$textColor1:black;
$textColor2:white;
$colorAzul:#1B4EA3;
$textSize1:22px;
$textSize2:1em;
$textSize3:36px;
$textSize4:46px;
$textSize5:28px;
$montserrat:  'Montserrat', sans-serif;

body{
    font-family: $montserrat;
}
.body-inicio{
    background-color: #B4B4BB;

}
.body-inicio{
    background-color: #D2D6ED;

}
 nav{
    font-family: $montserrat;
}
.subnav{
    background-color: $colorAzul;
    input{
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 23px;
        background-color: $colorAzul;
        color: $textColor2;
    }
    .buscar{
        background-color: $colorAzul;
        color: $textColor2;
        button{
            border-color: rgba(255, 255, 255, 0);
            border-radius: 23px;

            &:hover{
                background-color: #1B4EA3;
            }
           
        }
    }
    a {
        border: 2px solid #FB982E;
        border-radius: 13px;
        text-decoration: none;
        color: $textColor2;
        font-size: $textSize2;
    }
}
.accionesrapidas{
    
        font-family: $montserrat;
     
        a {
            text-decoration: none;
            color: $textColor1;
            font-size: $textSize1;
        }
}

.productosAcciones{
    list-style: none;
}
.editButton{
    width: 32px;
}
.cargarproductosform{

    .campo-requerido{
        padding-left: 12px ;
        border-left: 2px solid green;
    }
}

@media print {
    head{
        display: none;
    }
    body {
    width: 58mm;
    height:100%;
    margin-left: 2px;
    margin-right: 2px;
    position:absolute;
    color: #000;
    background-color: #fff;
   }
   .escososaTicket{
       font-size: 12px;
   }
   .tittleTicket{
       font-size: 10px;
   }
   .textTicket{
    font-size: 8px;
}
}