<%- include('../views/partials/header.ejs'); %>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 ">
            <a class="text-center" href="/ingreso-administrador">ADMINISTRADOR</a>
        </div>
        <div class="col-12 col-md-6">
            <a href="/ingreso-caja">CAJAS</a>

        </div>
    </div>
</div>

<%- include('../views/partials/footer.ejs'); %>
