<%- include('../partials/headerAdm.ejs'); %>

<div class="container">
    
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 p-md-2">
           
          <h3>Crear oferta de NOMBRE + PRODUCTO</h3>

            <form action="/administrador/ofertas/crear-oferta-individual" method="post">




              <div class="mb-3">
                <p class="mx-2">
                  Precio por unidad actual: $ 300
                </p>
              </div>


                <div class="mb-3">
                  <label for="cantidadDeUnidadesNecesarias" class="form-label">Cantidad de unidades para validar la oferta</label>
                  <input type="number" name="cantidadDeUnidadesNecesarias" class="form-control" id="cantidadDeUnidadesNecesarias" placeholder="">
                  <select class="form-select"  name="cantidadDeUnidadesNecesarias" aria-label="Default select example">
                    <option selected> Abrir el menu para elegir la cantidad</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>


                  </select>
                </div>
                
                <div class="mb-3">
                  <label for="precioOferta" class="form-label">Precio de la oferta</label>
                  <input type="number" name="precioOferta" class="form-control" id="precioOferta" placeholder="">
                </div>

                <div class="mb-3">
                  <label for="fechaDeVigencia" class="form-label">Fecha de vigencia</label>
                  <input type="date" name="fechaDeVigencia" class="form-control" id="fechaDeVigencia" placeholder="">
                </div>
                

                <div class="mb-3">
                  <label for="estacionDeCobroParaLaOferta" class="form-label">Seleccionar las estaciones de cobros donde se aplique la oferta</label>
                  <select id="estacionDeCobroParaLaOferta" name="estacionDeCobroParaLaOferta" class="form-select" aria-label="Default select example">
                  


                  
                  </select>
                </div>


                <button type="submit" class="btn btn-primary">Confirmar</button>


              </form>
              .
            <!-- |LISTADO DE PRODUCTOS CON SEARCHBAR|
            productos: [
            //con codigo de barra > se escanea o busca/filtra
            
        ],
            cantidadDeProductosParaAplicarOferta: 3,
            productoEnOferta:'combo hamburguesa' 
            precioDeLaOferta: $ 450:
            Disponible para: [Caja1- caja2- caja4] -->

                
       
        </div>

        <div class="col-12">

        </div>
    </div>
</div>


<%- include('../partials/footer.ejs'); %>
