<%- include('../partials/headerAdm.ejs'); %>

<div class="container">
    
    <div class="row">
        <div class="col-12">
            |LISTADO DE PRODUCTOS CON SEARCHBAR|
            productos: [
            //con codigo de barra > se escanea o busca/filtra
            
            //sin codigo de barra > se agrega el nombre del producto, 
        ],
            nombreDeLaOferta:'combo hamburguesa' 
            precioDeLaOferta: $ 450:
            Disponible para: [Caja1- caja2- caja4]
            GenerarCodigoDeBarra:|||||||,

       
       
        </div>

        <div class="col-12">

        </div>
    </div>
</div>


<%- include('../partials/footer.ejs'); %>
