<%- include('../partials/headerAdm.ejs'); %>

<div class="container">
    
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form class="">
                <input id="searchBarcode" class="form-control me-2" type="search" placeholder="Buscar producto por codigo de barra" aria-label="Buscar">
                <button class="btn btn-outline-dark" type="submit">Buscar por codigo</button>
              
            </form>


              .
            <!-- |LISTADO DE PRODUCTOS CON SEARCHBAR|
            productos: [
            //con codigo de barra > se escanea o busca/filtra
            
        ],
            cantidadDeProductosParaAplicarOferta: 3,
            productoEnOferta:'combo hamburguesa' 
            precioDeLaOferta: $ 450:
            Disponible para: [Caja1- caja2- caja4] -->

                
       
        </div>

        <div class="col-12">

        </div>
    </div>
</div>


<%- include('../partials/footer.ejs'); %>
