<%- include('../partials/headerAdm.ejs'); %>


<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>Panel de Ofertas</h2>
                <p class="p-lg-4 lead" > Realize la gestión de las ofertas de productos</p>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/administrador/ofertas/agregar-oferta-conjunto">Agregar oferta de conjunto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/administrador/ofertas/agregar-oferta-individual">Agregar oferta de producto individual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/administrador/ofertas/ver-ofertas-conjunto">Ver las ofertas de conjunto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/administrador/ofertas/ver-ofertas-individual">Ver las ofertas de producto individual</a>
        </li>
      </ul>
        </div>

        <div class="col"></div>
        <div class="col"></div>
    </div>
    
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>
<%- include('../partials/footer.ejs'); %>
