<%- include('../partials/headerCaja.ejs'); %>


    <div class="container p-5">

        <h2>Bienvenido NOMBRE.USUARIO</h2>
        
        <ul>
            <li> <a class="btn btn-outline-secondary mb-3" href="/caja"> Inicio </a> </li>
            <li> <a class="btn btn-outline-success" href="./caja/cajacobro"> Abrir la caja de cobro </a> </li>
        </ul>
    </div>
     
    


    <%- include('../partials/footer.ejs'); %>
