<%- include('../partials/headerAdm.ejs'); %>



<div class="container p-md-4">
    <a class="px-3 btn btn-success " href="/administrador/estacionesdecobro">< Atras</a>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="estacionDeTrabajo p-3">

              <h3 class="text-center">
                Historial de usuarios para  
              </h3>

    
                   <!-- zoe -->
                </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-6">
            <% estacionDeCobro.historialDeUsuarios.forEach(user => { %>
              <div class="card">
                <div class="card-tittle d-flex justify-content-around">
                  <p> <%= user %></p>  
                  <p><%= dayUserInEstacion %> </p>

                </div>
              </div>  
            <% }) %>
          </div>
        </div>
       
    </div>
</div>


<%- include('../partials/footer.ejs'); %>
